html {
  font-size: 30px;
}

body {
  color: white;
  margin: 0 auto;
  padding: 50px;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  line-height: 150%;
  background: rgb(5,5,5);
  background: linear-gradient(90deg, rgba(5,5,5,1) 0%, rgba(42,9,121,1) 51%, rgba(0,108,255,1) 100%);
}

a {
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

textarea {
  border-radius: 5px;
  border-color: white;
}
